.balance__header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-image: url("./BG.svg");
  background-repeat: no-repeat;
}
.header__top {
  padding-top: 53px;
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.balance-header__title {
  color: #fff;
}
.icon {
  display: block;
  height: 24px;
  width: 24px;
  cursor: pointer;
  transition: opacity 0.7s;
  &:hover {
    opacity: 0.7;
  }
}
.icon__setting {
  background-image: url("./setting.svg");
}
.icon__notification {
  background-image: url("./notification.svg");
}
.balance {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}
.list-button {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.item-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.button__balance {
  height: 52px;
  width: 52px;
  background-color: #5b94e9;
  border-radius: 50%;
  border: 8px solid #fff;
  cursor: pointer;
  transition: opacity 0.7s;
  &:hover {
    opacity: 0.7;
  }
}
.button__receive {
  display: flex;
  justify-content: center;
  height: 28px;
  width: 28px;
  background-image: url("./receiv.svg");

  color: #fff;
}
.button__send {
  display: flex;
  justify-content: center;
  height: 28px;
  width: 28px;
  background-image: url("./send.svg");

  color: #fff;
}
.button__text {
  font-size: 14px;
  color: #1f1f1f;
}
.transaction__list {
  display: flex;
  flex-direction: column;
  border: 1px solid #e9e8eb;
  border-radius: 8px;
  padding: 16px;
  gap: 12px;
}
.transaction__item {
  text-decoration: none;
  color: #1f1f1f;
}
.transaction__icon {
  display: block;
  height: 40px;
  width: 40px;
  background-size: cover;
}
.send {
  background-image: url("./sending.svg");
}
.resive-stripe {
  background-image: url("./srtipe.svg");
}
.resive-coinbase {
  background-image: url("./coinbase.svg");
}
.transaction__amount {
  font-size: 16px;
}
.plus {
  color: #26bf80;
}
.transaction__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
.transaction__title {
  color: #1d1d1f;
  font-size: 16px;
  font-weight: bold;
}
.transaction__text {
  color: #939199;
  font-size: 12px;
}
